extends layout

block content
  h1 SHARE ME
  p Send links and text to all your devices in 3 simple steps:
    ol
      li Paste link or text in a box below, click "Send" and receive PIN code
      li Open 
        a(href="http://shareme.link") shareme.link
        |  on a device
      li Enter PIN code and click "Receive"
    | PIN code will last for five minutes

  .row
    .error-container
    .error.alert.alert-danger
    
  .row.panel-container
    .col-md-6.panel-send
      div.send
        h3 Send link or text
        .form-group
          textarea(name="payload", id="payload" placeholder="Link or text").form-control.payload
        button(type="button").btn.btn-default.send Send

      div.sent
        h3 PIN code is:
        h1.result
        button(type="button").btn.btn-default.another Send another

    .col-md-6.panel-receive
      div.receive
        h3 Receive
        .form-group
          input(name="pin", id="pin", type="text", placeholder="PIN code").form-control
        button(type="button").btn.btn-default.receive Receive

      div.received
        h3 You received: 
        p#received-result.result
        button(type="button").btn.btn-default.another Receive another


