doctype html
html
  head
    title shareme.link
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")
    meta(name="author", content="Artem Vovsia; e-mail: avovsya@gmail.com")
    meta(name="description", content="Send links and text instantly to any of your devices, without installing any software")
    meta(name="keywords", content="share, link, send, easy share, link to phone, sent to phone, link to iphone, send to iphone, sent to device, share to phone")
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet",href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css")
    script(src="https://code.jquery.com/jquery-2.1.3.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js")
    script(src="javascripts/shareme.js")
  body
    .container
      block content

    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-58668502-2', 'auto');
      ga('send', 'pageview');
