body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.sent {
  display: none;
}

.received {
  display: none;
}

.received .result {
  font-size: 1.5em;
  border: 1px solid #bbb;
  border-radius: 3px;
  padding: 7px;
  word-wrap: break-word;
}

.error {
  display: none;
}
